$page-bg: #edecf1;

$header-background: #4a4c61;
$header-menu-border-side: #5e6075;
$header-menu-border-bottom: #b1b3c0;
$header-menu-buy: #c71f40;
$header-menu-rent: #1979b3;
$header-menu-commercial: #339d43;

$text-default: #979eb0;
$text-bold: #504f57;
$text-rent: #cb1f37;

$listing-summary-border-color: #dcdcdc;

$greeting-card-color1: #072966;
$greeting-card-color2: #920c0b;

$contact-options-bg: #c71f40; 
