@import './breakpoints';
@import './colors';
@import './mixins';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $page-bg;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-size: 14px; // fallback
  line-height: 20px;
  letter-spacing: 0.012em;

  -webkit-font-smoothing: antialiased;
}

html, body, [id="app"] {
  height: 100%;
}

*, *:before, *:after {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: inherit;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.App {
  width: 100%;
}

.Contents {
  margin: 0 auto;
  padding-top: 20px;

  @include from-large {
    width: $mq-large;
  }
}

.ContentsLeft {
  width: calc(100% - 340px);
  float: left;
}

.ContentsRight {
  float: right;

  width: 300px;
  margin: 0 20px;
}

.ContentsMiddle {
  float: left;

  width: 100%;
  padding-bottom: 20px;
}
