<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dubai Imobiliare</title>

  <!-- the responsive part -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">

  <!-- the icon part -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#665b76">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <% /* if (webpackConfig.metadata.ENV === 'production') { */ %>
   <link rel="stylesheet" href="/assets/css/style.css">
 <% /* } */ %>

</head>
<body>
<div class="App">
  <div class="HeaderWrapper">
    <div class="Header">
      <h1 class="Logo">
        <a href="#"><img src="/assets/images/logo.png" alt="Dubai Imobiliare"/></a>
      </h1>

      <ul class="Menu">
        <li class="MenuItem MenuItem-Buy active">Buy</li>
        <li class="MenuItem MenuItem-Rent">Rent</li>
        <li class="MenuItem MenuItem-Commercial">Commercial</li>
        <li class="MenuItem MenuItem-Prestige">Prestige</li>
        <li class="MenuItem MenuItem-Brokers">Brokers</li>
        <li class="MenuItem MenuItem-Blog">Blog</li>
      </ul>
    </div>
  </div>

  <div class="Contents">
    <div class="ContentsLeft">

      <div class="APT-Presentation">
        <ul class="APT-Presentation-Details">
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Appartment
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-bed" aria-hidden="true"></i> 3 beds
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-tint" aria-hidden="true"></i> 2 Baths
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-cube" aria-hidden="true"></i> 1,350 sqft
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-bookmark" aria-hidden="true"></i> <strong>250,000</strong> AED/year
          </li>
        </ul>
      </div>

      <slider class="APT-Presentation-Gallery Slider">
        <slider-bar class="SliderBar">
          <photo src="/assets/images/a.jpg" />
          <photo src="/assets/images/b.jpg" />
          <photo src="/assets/images/c.jpg" />
          <photo src="/assets/images/d.jpg" />
          <photo src="/assets/images/e.jpg" />
          <photo src="/assets/images/f.jpg" />
          <photo src="/assets/images/g.jpg" />
        </slider-bar>
      </slider>

      <div class="APT-Presentation-Description">
        <div class="Reference">
          <p class="Reference-Title">Property description</p>
          <p class="Reference-Ref">REF: <span>F4-R-163</span></p>
        </div>

        <div class="APT-Presentation-DescriptionBody">
          <h4 class="APT-PDB-Location">Dubai-Al Barari-Al Barari Villas</h4>
          <h2 class="APT-PDB-Title">Elite &amp; Luxurious, &quot;The Reserve&quot; Villa at &quot;Al Barari&quot;</h2>

          <div class="APT-PDB-Description">
            Lorem ipsum dolor sit amet, vel eros urbanitas ei, ex his nusquam copiosae iracundia, pri id sanctus honestatis. Mel ex nulla nonumes principes. Ad mel scripta splendide. Ne esse quidam dignissim eos. Vim tale tritani maluisset ei, dolor feugait civibus ex vix, consetetur definitionem ea eam. Id sit volumus neglegentur, dico assentior voluptatum ex eum, vituperata consectetuer voluptatibus ad vix.
            <br /><br />
            Nam ad nemore tibique deleniti, doming percipit ius ut. Ceteros constituam no has, modo paulo te has. Utamur invenire ut nam, id option intellegat qui, numquam impedit corpora ut cum. Ad vis laboramus forensibus, ne congue rationibus est, ad enim equidem accusata sed. Usu ad audiam sapientem, id affert scripta albucius est.
            <br /><br />
            Vel legere ornatus ut. Semper cotidieque his te, an natum menandri inciderint nam. Usu eu solum indoctum, pri tota petentium philosophia in, vix voluptua adversarium in. Ferri praesent at per, dicta eleifend volutpat ne eam.
            <br /><br />
            Quo no augue accusam officiis, eum affert consequuntur in, vis at vero aeque atomorum. Per case delicatissimi id, ad vim salutandi repudiare adipiscing. Et luptatum concludaturque per, suscipit legendos nam id. Tation placerat complectitur eum in, ad aeterno legimus detracto quo.
            <br /><br />
            Mucius molestie cu sit, facete albucius appellantur qui in. At sea clita gubergren adipiscing, ad aeterno pertinacia mei, nostro tibique postulant ei sea. No antiopam partiendo has, ius latine debitis adipiscing ut, sea et quaestio efficiantur. Minim volutpat ad mel, quo ipsum minim et. An cum solet incorrupte.
          </div>

          <div class="APT-PDB-Listing">
            <p class="APT-PDB-ListingTitle">Listing Summary</p>

            <ul class="APT-PDB-ListingList">
              <li class="APT-PDB-ListingListItem">
                <div class="ItemCell">
                  Reference
                  <p>TRA01</p>
                </div>
                <div class="ItemCell">
                  Type
                  <p>Villa</p>
                </div>
                <div class="ItemCell">
                  City
                  <p>Dubai</p>
                </div>
                <div class="ItemCell">
                  Community
                  <p>Al Barari</p>
                </div>
              </li>
              <li class="APT-PDB-ListingListItem">
                <div class="ItemCell">
                  Subcommunity
                  <p>Al Barari Villas</p>
                </div>
                <div class="ItemCell">
                  Property
                  <p>N/A</p>
                </div>
                <div class="ItemCell">
                  Sqft
                  <p>50,000 sqft</p>
                </div>
                <div class="ItemCell">
                  Bedrooms
                  <p>7+</p>
                </div>
              </li>
              <li class="APT-PDB-ListingListItem">
                <div class="ItemCell">
                  Bathrooms
                  <p>7+</p>
                </div>
                <div class="ItemCell">
                  Price
                  <p>AED 70,000,000</p>
                </div>
                <div class="ItemCell">
                  Price/sqft
                  <p>AED 1,400/sqft</p>
                </div>
                <div class="ItemCell">
                  Last Update
                  <p>05/08/2013</p>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="ContentsRight">
      <div class="GreetingCard">
        <div class="GreetingCard-Photo">
          <img src="/assets/images/seller_01.jpg" alt="Jennifer Doe" />
        </div>

        <div class="GreetingCard-Details">
          <h4>Jennifer Doe</h4>
          <p>
            The Reserve Agency LLC
            <br />
            Emaar Suqre
            <br />
            Downtown, Dubai, UAE
          </p>

          <div class="GreetingCard-Company">
            <div class="GreetingCard-CompanyLogo">
              <p>LAND</p>
              <p>STERLING</p>
            </div>
            <div class="GreetingCard-CompanyTitle">
              <span>Chartered Surveyors</span> &amp; <span>Property Consultants</span>
            </div>
          </div>
        </div>
      </div>

      <div class="ContactOptions">
        <label class="ContactOptions-Item">
          <input type="radio" name="ContactOptions-ItemControl" />
          <p><i class="fa fa-th" aria-hidden="true"></i> Contact by phone</p>

          <div class="ContactOptions-ItemData">
            <p class="TelephoneNumber">055 123 45 67</p>
          </div>
        </label>

        <label class="ContactOptions-Item">
          <input type="radio" name="ContactOptions-ItemControl" />
          <p><i class="fa fa-envelope" aria-hidden="true"></i> Contact by email</p>

          <div class="ContactOptions-ItemData">
            <form class="ContactOptions-Form EmailContact" name="email-contact" action="#">
              <textarea></textarea>
              <input type="text" name="fullname" placeholder="Full Name">
              <input type="text" name="email" placeholder="Email address">
              <input type="text" name="phone" placeholder="Phone">
              <button type="submit">send</button>
            </form>
          </div>
        </label>

        <label class="ContactOptions-Item">
          <input type="radio" name="ContactOptions-ItemControl" />
          <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Make an offer</p>

          <div class="ContactOptions-ItemData">
            <form class="ContactOptions-Form OfferForm" name="email-contact" action="#">
              <p>Your offer</p>
              <div class="special-input">
                <input type="text" name="offer" placeholder="">
              </div>
              <span>only serious and resonable offers will be considered by the broker</span>
              <input type="text" name="fullname" placeholder="Full Name">
              <input type="text" name="email" placeholder="Email address">
              <input type="text" name="phone" placeholder="Phone">
              <button type="submit">send</button>
            </form>
          </div>
        </label>
      </div>

      <div class="Banner-300x250">
        <p>Advertisement</p>
        <img src="http://placehold.it/300x250">
      </div>

      <ul class="OfferActions">
        <li><i class="fa fa-star" aria-hidden="true"></i> Favorite the property</li>
        <li><i class="fa fa-file" aria-hidden="true"></i> Print details in PDF</li>
        <li><i class="fa fa-user" aria-hidden="true"></i> Email to a friend</li>
        <li><i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook</li>
      </ul>

      <div class="MarketPrice">
        <h4 class="MarketPrice-Title"><i class="fa fa-signal" aria-hidden="true"></i> Market price <strong>LIVE</strong></h4>

        <ul class="MarketPrice-List">
          <li class="MarketPrice-ListItem">
            Price based on
            <p>60 similar listings</p>
          </li>
          <li class="MarketPrice-ListItem">
            Average price
            <p>AED/year 177,583</p>
          </li>
          <li class="MarketPrice-ListItem">
            Average SQFT
            <p>1,933 Sqft</p>
          </li>
          <li class="MarketPrice-ListItem">
            Average price/sqft
            <p>AED/year 92 pet sqft</p>
          </li>
        </ul>

        <button class="MarketPrice-Action">Read more</button>
      </div>
    </div>

    <div class="ContentsMiddle">
      <div class="RelatedProperties">
        <h4 class="RelatedProperties-Title"><i class="fa fa-briefcase" aria-hidden="true"></i> People also checked these properties out</h4>
        <ul class="RelatedProperties-List">
          <li class="RelatedProperties-ListItem">
            <a href="#">
              <div class="RelatedProperties-ListItemPhoto">
                <img src="/assets/images/a.jpg" alt="Dubai Sports City"/>
              </div>

              <p class="RelatedProperties-ListItemTitle">
                Dubai Sports City
              </p>

              <p class="RelatedProperties-ListItemPrice">
                <strong><i class="fa fa-bookmark" aria-hidden="true"></i> 58,000</strong>
                AED/year
              </p>
            </a>
          </li>
          <li class="RelatedProperties-ListItem">
            <a href="#">
              <div class="RelatedProperties-ListItemPhoto">
                <img src="/assets/images/a.jpg" alt="Dubai Sports City"/>
              </div>

              <p class="RelatedProperties-ListItemTitle">
                Dubai Sports City
              </p>

              <p class="RelatedProperties-ListItemPrice">
                <strong><i class="fa fa-bookmark" aria-hidden="true"></i> 58,000</strong>
                AED/year
              </p>
            </a>
          </li>
          <li class="RelatedProperties-ListItem">
            <a href="#">
              <div class="RelatedProperties-ListItemPhoto">
                <img src="/assets/images/a.jpg" alt="Dubai Sports City"/>
              </div>

              <p class="RelatedProperties-ListItemTitle">
                Dubai Sports City
              </p>

              <p class="RelatedProperties-ListItemPrice">
                <strong><i class="fa fa-bookmark" aria-hidden="true"></i> 58,000</strong>
                AED/year
              </p>
            </a>
          </li>
          <li class="RelatedProperties-ListItem">
            <a href="#">
              <div class="RelatedProperties-ListItemPhoto">
                <img src="/assets/images/a.jpg" alt="Dubai Sports City"/>
              </div>

              <p class="RelatedProperties-ListItemTitle">
                Dubai Sports City
              </p>

              <p class="RelatedProperties-ListItemPrice">
                <strong><i class="fa fa-bookmark" aria-hidden="true"></i> 58,000</strong>
                AED/year
              </p>
            </a>
          </li>
          <li class="RelatedProperties-ListItem">
            <a href="#">
              <div class="RelatedProperties-ListItemPhoto">
                <img src="/assets/images/a.jpg" alt="Dubai Sports City"/>
              </div>

              <p class="RelatedProperties-ListItemTitle">
                Dubai Sports City
              </p>

              <p class="RelatedProperties-ListItemPrice">
                <strong><i class="fa fa-bookmark" aria-hidden="true"></i> 58,000</strong>
                AED/year
              </p>
            </a>
          </li>
        </ul>
      </div>

      <div class="APT-Presentation">
        <ul class="APT-Presentation-Details">
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-map-marker" aria-hidden="true"></i> Appartment
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-bed" aria-hidden="true"></i> 3 beds
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-tint" aria-hidden="true"></i> 2 Baths
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-cube" aria-hidden="true"></i> 1,350 sqft
          </li>
          <li class="APT-Presentation-DetailsItem">
            <i class="fa fa-bookmark" aria-hidden="true"></i> <strong>250,000</strong> AED/year
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
